* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  padding: 0 50px;
  background-color: black;
  color: white;
}

.header h1 {
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header nav ul a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
  padding: 5px;
}

.header nav ul a:hover {
  background-color: #555;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 10px 70px;
}
.card {
  border: 1px solid rgb(215, 216, 241);
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.card img {
  width: 100%;
}

.card h2 {
  font-size: 15px;
  text-align: center;
}

.card button {
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.card button:hover {
  opacity: 0.75;
}

.card button:active {
  opacity: 0.5;
}

.active {
  background-color: #555;
}